/* overall themes */
* {
    background-color: #23263A;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

.tech {
    max-width: 32px;
    margin: 10px;
}

.tech_layout {
    text-align: center;
    /* aligns text to middle of image */
}

.technologies {
    text-align: center;
}





/* large red bar spacer */
.spacer_1{
    width: 50vw;
    height: 5px;
    background-color: #EE4956;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* medium red bar spacer */
.spacer_2{
    width: 75px;
    height: 3px;
    background-color: #EE4956;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #FF4A57;
    display: flex;
    border: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3px;
}

/* settings for and navbar */
nav {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem
}

.name {
    display: none;
}

.hello {
    display: flex;
    font-size: 35px;
    text-align: center; 
}

#principal {
    color: #808080;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.personal_links {
    text-align: center;
}


/* media queries have to go after base css styles */
/* phone media query */
@media screen and (min-width: 600px){    
    .hello {
        font-size: 7rem;
    }

    .topnav a {
        font-size: 2rem;
        margin: 30px;
    }

    #principal {
        font-size: 2em;
        margin: 70px;
    }

    

}